<p id="message-<%= message.id %>">
  <%= message.content %>
  <%= link_to '更新', message_path(message), dara: {remote: true} %>
  <%= link_to '削除', edit_message_path(message), method: :delete, data: {confirm: "削除しますか？", remote: true} %>
</p>